@import '@/styles/index.scss';
.page-container {
  height: 100%;
  overflow: hidden;
  margin: $margin;
  // padding: $padding;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .form-container {
    flex: 0 0 auto; /* Form height is auto */
    // padding: 10px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .table-container {
    flex: 1 1 auto; /* Take up remaining space */
    overflow-y: hidden; /* Enable vertical scroll */
    padding: 10px;
    background: #fff;
    border-radius: 10px;
  }
}
